/*列表样式 start*/
.dataview-basic .x-list-item {
  width: 100%;
  padding: 2px;
  border-bottom: 1px solid #c2c2c2;
  /*height: 70px;*/
}
.dataview-basic .x-list-item:last-child {
  border-bottom: 0px;
}
.dataview-basic .x-list-item .img {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50%;
  float: left;
}
.dataview-basic .x-list-item .content {
  vertical-align: top;
  margin-left: 50px;
}
.dataview-basic .x-list-item .content .name {
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dataview-basic .x-list-item .content .affiliation {
  color: #9d9d9d;
  padding-top: 5px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*列表样式 end*/

/*"我"的页面样式 start*/
.list2{ 
    -webkit-border-radius : 10px; 
} 
  
.list2 .x-list-item{ 
    background-color : #FFF; 
    border:1px solid silver; 
    -webkit-border-radius : 10px;
} 
  
.list2 .x-list-item:nth-of-type(3){ /*累计收入*/
    border-top:1px solid silver; 
    -webkit-border-bottom-left-radius:0px; 
    -webkit-border-bottom-right-radius:0px;
}
.list2 .x-list-item:nth-of-type(4){ /*下线收入*/
    border-top:0px;
    -webkit-border-top-left-radius:0px; 
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px; 
    -webkit-border-bottom-right-radius:0px;
}
.list2 .x-list-item:nth-of-type(5){ /*本人收入*/
    border-top:0px;
    -webkit-border-top-left-radius:0px; 
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px; 
    -webkit-border-bottom-right-radius:0px;
}
.list2 .x-list-item:nth-of-type(6){ /*已提现*/
    border-top:0px;
    -webkit-border-top-left-radius:0px; 
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px; 
    -webkit-border-bottom-right-radius:0px;
}
.list2 .x-list-item:nth-of-type(7){ /*未提现*/
    border-top:0px;
    margin : 0 0 15px 0;
    -webkit-border-top-left-radius:0px; 
    -webkit-border-top-right-radius:0px;
}

.list2 .x-list-item:nth-of-type(8){ /*提现*/
    border-top:1px solid silver; 
    -webkit-border-bottom-left-radius:0px; 
    -webkit-border-bottom-right-radius:0px;
}
.list2 .x-list-item:nth-of-type(9){ /*提现历史*/
    border-top:0px;
    margin : 0 0 15px 0;
    -webkit-border-top-left-radius:0px; 
    -webkit-border-top-right-radius:0px;
}

.list2 .x-list-item:nth-of-type(10){ /*我的资料*/
    border-top:1px solid silver; 
    -webkit-border-bottom-left-radius:0px; 
    -webkit-border-bottom-right-radius:0px;
} 
.list2 .x-list-item:nth-of-type(11){ /*修改密码*/
    border-top:0px;
    -webkit-border-top-left-radius:0px; 
    -webkit-border-top-right-radius:0px;
    -webkit-border-bottom-left-radius:0px; 
    -webkit-border-bottom-right-radius:0px;
} 
.list2 .x-list-item:nth-of-type(12){ /*退出*/
    border-top:0px;
    -webkit-border-top-left-radius:0px; 
    -webkit-border-top-right-radius:0px;
    text-align:center;
} 
  
.list2 .x-item-selected:last-child{ 
    -webkit-border-bottom-left-radius:10px; 
    -webkit-border-bottom-right-radius:10px;
} 
.list2 .x-item-selected:first-of-type{ 
    -webkit-border-top-left-radius:10px; 
    -webkit-border-top-right-radius:10px; 
} 
  
.list2 img{ 
    margin-right:10px; 
}
/*"我"的页面样式 end*/